# Data Science Tools and Ecosystem

In this notebook, Data Science world is explored

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Development environment open source tools used in data science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|--------------------|
|Apache Spark|
|TensorFlow|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Melkam H.